{% extends "base.html" %}

{% block aboutactive %}active {%endblock aboutactive%}
{% block title %} About {%endblock title%}
{% block body %}
<br><br><br>
<div class="container mt-3">
    <table class="table">
        <tr>
            <th scope="row">1</th>
            <th>Học vấn</th>
            <td>- 12 năm liền đạt danh hiệu học sinh giỏi,
                cháu ngoan Bác Hồ, chủ nhân Thăng Long<br>
                - Cấp 1: Nguyễn Siêu Hà Nội (đừng hỏi tại sao tôi siêu)<br>
                - Cấp 2 - Cấp 3: THCS, THPT Vũng Tàu (người Hà Nội gọi tôi là con Vũng Tàu, người Vũng Tàu gọi tôi là con Hà Nội)<br>
                - 2020: Trượt đại học ( chẳng qua không thèm ôn thôi chứ đề dễ vcl)<br>
                - Hiện tại: du học sinh tại CHLB Đức (trời Âu)
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <th>Ước mơ</th>
            <td>- Tắm trong tiền<br>
                - Khóc trên con xe 4 bánh (tuỳ hãng)<br>
                - Check in sương sương full Châu Âu<br>
                (bạn nào cảm thấy đáp ứng được xin vui lòng liên hệ tại mục Contact me)
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <th>Kỹ năng</th>
            <td>- Tiếng Đức<br>
                - Tiếng Anh<br>
                - Tin học văn phòng<br>
                - Thao túng tâm lý
            </td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <th>Câu nói yêu thích</th>
            <td>"Thích tìm cách không thích tìm lý do"<br>
                (Không phải lúc nào cũng đúng nhưng cứ thích nói)
            </td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <th>Khả năng đặc biệt</th>
            <td>- Linh cảm bằng giác quan thứ 7<br>
                (Có những việc mình biết bằng cách khác nhưng mình cứ phải nói là linh cảm cho người ta sợ)<br>
                - Hít thở cũng béo (có thời điểm 60 cân có dư, trông như con lợn) 
            </td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <th>Khác</th>
            <td>- Thích màu hồng<br>
                - Yêu sự ngọt ngào
            </td>
        </tr>
    </table>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

{% endblock body %}
