{% extends "base.html" %}
{% load static %}

{% block homeactive %} active {%endblock homeactive%}
{% block title %} Home {%endblock title%}
{% block body %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1 style="text-align:center; color: #e30c0c;">Happy 8/3 to all ladies<br><br><br>Trần Khánh Ngân</h1>
      <h2 style="color: #e30c0c;">I'm a Vietnamese student in Germany</h2>
      <a href="/about" class="btn-about">About Me</a>
    </div>
  </section><!-- End Hero -->

{% endblock body %}